.shop {
  background-image: linear-gradient(90deg, #f8f6f4 20%, transparent),
    url('../../assets/shop-hero-bg.jpg');
  padding: 18rem 0rem 13rem;
  border-bottom: 1px solid #ebebeb;
}

.shopText {
  text-align: center;
}

.shopText h2 {
  text-transform: capitalize;
  font-size: 4rem;
  font-weight: 500;
  color: var(--secondary-text-color);
  margin-top: 2rem;
}

.storeProducts {
  margin-top: 5rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* media queries */

/**************************/
/* BELOW 769px */
/**************************/

@media (max-width: 48em) {
  .storeProducts {
    grid-template-columns: repeat(2, 1fr);
  }
}

/**************************/
/* BELOW 544px */
/**************************/

@media (max-width: 34em) {
  .storeProducts {
    grid-template-columns: 1fr;
  }
}
